<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<!-- add header with nav and search then use css elements -->
			<header>
				<div class="hrow">
					
					<div class="ltopnav">
						<a class="active" href="/">Home</a>
						<a href="/blog">Posts</a>
						<a href="/playbooks">Playbooks</a>
					</div>

					<div class="ctopnav">
						<b>My Blog</b>
					</div>

					<div class="rtopnav">
						<a href="/about">About</a>
						<a href="/about">Contact</a>
						<input type="text" placeholder="Search..">
					</div>
					
				</div>
					
			</header>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/playbooks">Playbooks</a><li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
				</ul>
			</footer>
		</body>
	</html>
